@import url('./variables.css');
@import url('./share.css');
@import url('./preview.css');

.jp-StartersDefaultIcon {
  background-image: url('./icons/starter.svg');
}

#jp-left-stack > .p-Widget.jp-Starters-FormPanel,
#jp-right-stack > .p-Widget.jp-Starters-FormPanel,
.jp-Starters-FormPanel {
  background-color: var(--jp-layout-color0);
  color: var(--jp-ui-font-color1);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px !important;
  width: 300px;
}

.jp-Starters-FormPanel .jp-SchemaForm {
  overflow-y: auto;
  flex: 1;
  max-height: 100%;
  padding: var(--jp-notebook-padding);
}

.jp-Starters-FormPanel .jp-SchemaForm > .panel.panel-danger.errors {
  padding: var(--jp-notebook-padding);
  position: absolute;
  bottom: 0;
  background-color: var(--jp-layout-color1);
  border-top: solid 1px var(--jp-warn-color0);
  right: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  max-height: 20rem;
}

.jp-Starters-NotebookMetadata {
  min-width: 350px;
}

.jp-Starters-BodyBuilder-buttons {
  flex: 0;
  max-height: var(--jp-starters-btns-height);
  height: var(--jp-starters-btns-height);
  display: flex;
  flex-direction: column;
  background-color: var(--jp-layout-color2);
  border-top: solid 1px var(--jp-border-color0);
  border-bottom: solid 1px var(--jp-border-color0);
  padding: var(--jp-notebook-padding);
}

.jp-Starters-BodyBuilder-buttons > footer {
  flex: 0;
  min-height: var(--jp-ui-font-size3);
  color: var(--jp-ui-font-color2);
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.jp-Starters-BodyBuilder-buttons > footer > label {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.jp-Starters-BodyBuilder-buttons > footer > label [data-icon] {
  margin-right: 0.25em;
}

.jp-Starters-BodyBuilder-buttons > footer strong {
  flex: 1;
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
}

.jp-Starters-BodyBuilder-buttons section {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-height: var(--jp-starters-btn-height);
}

.jp-Starters-BodyBuilder-buttons button {
  margin: var(--jp-notebook-padding) 0 var(--jp-notebook-padding)
    var(--jp-notebook-padding);
  height: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
}

.jp-Starters-BodyBuilder-buttons button > label {
  cursor: pointer;
}

.jp-Starters-BodyBuilder-buttons button:first-child {
  margin-left: 0;
}

.jp-Starters-BodyBuilder-buttons button:disabled {
  opacity: 0.5;
}

.jp-Starters-BodyBuilder-buttons div[data-icon] {
  display: flex;
  flex-direction: column;
}

.jp-Starters-BodyBuilder-buttons button [fill]:not([fill='none']) {
  fill: var(--jp-ui-font-color0);
}

.jp-Starters-BodyBuilder-buttons button.jp-mod-warn [fill]:not([fill='none']),
.jp-Starters-BodyBuilder-buttons button.jp-mod-accept [fill]:not([fill='none']) {
  fill: white;
}

.jp-Starters-FormPanel .jp-SchemaForm > .form-group {
  margin-bottom: 20rem;
}

.jp-Starters-FormPanel .jp-RenderedHTMLCommon {
  padding: 0;
}
