:root {
  --jp-starters-btn-height: calc(3 * var(--jp-ui-font-size3));
}
.jp-StartersDefaultIcon {
  background-image: url('./icons/starter.svg');
}

#jp-left-stack > .p-Widget.jp-Starters-FormPanel,
#jp-right-stack > .p-Widget.jp-Starters-FormPanel,
.jp-Starters-FormPanel {
  background-color: var(--jp-layout-color0);
  color: var(--jp-ui-font-color1);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  width: 300px;
}

.jp-Starters-FormPanel .jp-SchemaForm {
  overflow-y: auto;
  flex: 1;
  max-height: 100%;
  padding: var(--jp-notebook-padding);
}

.jp-Starters-FormPanel .jp-SchemaForm > .panel.panel-danger.errors {
  padding: var(--jp-notebook-padding);
  position: absolute;
  bottom: 0;
  background-color: var(--jp-layout-color1);
  border-top: solid 1px var(--jp-warn-color0);
  right: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  max-height: 20rem;
}

.jp-Starters-NotebookMetadata {
  min-width: 350px;
}

.jp-Starters-BodyBuilder-buttons {
  flex: 0;
  padding: var(--jp-notebook-padding);
  min-height: var(--jp-starters-btn-height);
  max-height: var(--jp-starters-btn-height);
  height: var(--jp-starters-btn-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--jp-layout-color2);
  border-top: solid 1px var(--jp-border-color0);
  border-bottom: solid 1px var(--jp-border-color0);
}

.jp-Starters-BodyBuilder-buttons > div {
  flex: 1;
  color: var(--jp-ui-font-color2);
  text-overflow: ellipsis;
  overflow: hidden;
}

.jp-Starters-BodyBuilder-buttons > div > label {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.jp-Starters-BodyBuilder-buttons > div strong {
  font-weight: bold;
  white-space: nowrap;
}

.jp-Starters-BodyBuilder-buttons button {
  margin-left: var(--jp-notebook-padding);
  height: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jp-Starters-BodyBuilder-buttons div[data-icon] {
  display: flex;
  flex-direction: column;
}

.jp-Starters-BodyBuilder-buttons button [fill]:not([fill='none']) {
  fill: var(--jp-ui-font-color0);
}

.jp-Starters-BodyBuilder-buttons button.jp-mod-warn [fill]:not([fill='none']),
.jp-Starters-BodyBuilder-buttons
  button.jp-mod-accept
  [fill]:not([fill='none']) {
  fill: white;
}

.jp-Starters-Preview {
  display: flex;
  flex: 0;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px var(--jp-border-color0);
  max-height: calc(
    var(--jp-private-launcher-card-size) + 2 * var(--jp-notebook-padding)
  );
}

.jp-Starters-Preview img {
  width: var(--jp-private-launcher-large-icon-size);
  height: var(--jp-private-launcher-large-icon-size);
}

.jp-Starters-FormPanel .jp-SchemaForm > .form-group {
  margin-bottom: 20rem;
}

.jp-Starters-FormPanel .jp-RenderedHTMLCommon {
  padding: 0;
}

/* json object */
.jp-SchemaForm fieldset .jp-SchemaForm-JSONObject-buttons {
  display: flex;
}

.jp-SchemaForm fieldset .jp-SchemaForm-JSONObject-buttons button {
  border: solid var(--jp-border-width) transparent;
  flex: 1;
  margin: 0;
  background-color: transparent;
}

.jp-SchemaForm fieldset .jp-SchemaForm-JSONObject-buttons button[disabled] {
  opacity: 0.25;
}

.jp-SchemaForm
  fieldset
  .jp-SchemaForm-JSONObject-buttons
  button:hover:not([disabled]),
.jp-SchemaForm
  fieldset
  .jp-SchemaForm-JSONObject-buttons
  button:focus:not([disabled]) {
  border: solid var(--jp-border-width) var(--jp-border-color1);
  background-color: var(jp-layout-color2);
}

.jp-SchemaForm .react-codemirror2 {
  border: solid var(--jp-border-width) var(--jp-border-color1);
}
