.jp-SchemaForm {
  overflow-y: auto;
  color: var(--jp-ui-font-color1);
}

.jp-SchemaForm .rjsf {
  display: flex;
  flex-direction: column;
}

.jp-SchemaForm > form {
  padding: var(--jp-ui-font-size1);
}

.jp-SchemaForm fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.jp-SchemaForm fieldset fieldset {
  padding-left: var(--jp-notebook-padding);
  border-left: solid 4px var(--jp-border-color3);
}

.jp-SchemaForm button[type='submit'] {
  display: none;
}

.jp-SchemaForm .control-label,
.jp-SchemaForm legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  position: relative;
}

.jp-SchemaForm legend > :first-child,
.jp-SchemaForm .control-label > :first-child {
  margin-top: 0;
  padding-top: 0;
}

.jp-SchemaForm .form-group {
  margin-bottom: var(--jp-ui-font-size1);
  width: 100%;
  position: relative;
}

.jp-SchemaForm .form-group:last-child {
  margin-bottom: 0;
}

.jp-SchemaForm .field-description,
.jp-SchemaForm .help-block {
  color: var(--jp-ui-font-color2);
}

.jp-SchemaForm .required {
  font-size: var(--jp-ui-font-size3);
  color: var(--jp-warn-color1);
  font-weight: 800;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
