.jp-SchemaForm-Document .jp-SchemaForm {
  padding: var(--jp-ui-font-size1);
}

.jp-SchemaForm-Document > .jp-Toolbar select.jp-mod-styled {
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color0);
}
