# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,py,js,md,jsx}]
charset = utf-8

[*.{py}]
indent_style = space
indent_size = 4

[*.{css,ts,tsx,json,yml}]
indent_style = space
indent_size = 2
