__pycache__/
_*.json
_build
.coverage
.envs/
.eslintcache
.ipynb_checkpoints/
.mypy_cache/
.pabotsuitenames
.pytest_cache/
.stylelintcache
.vscode/
.yarn-packages/
*.doit*
*.egg-info
*.log
*.tgz
*.tsbuildinfo
atest/output/
build/
dist/
docs/_static/_/
docs/_static/schema
docs/schema
envs/
lib/
node_modules/
src/**/labextension/
src/jupyter_starters/_d/share/
untitled*
Untitled*
