__pycache__/
_*.d.ts
_*.json
_build
.coverage
*.doit*
.envs/
.eslintcache
.ipynb_checkpoints/
.mypy_cache/
.pabotsuitenames
.pytest_cache/
.stylelintcache
.vscode/
.yarn-packages/
*.egg-info
*.log
*.tgz
*.tsbuildinfo
atest/output/
build/
dist/
docs/_static/schema
docs/schema
envs/
lib/
node_modules/
src/**/labextension/
untitled*
Untitled*
docs/_static/_/
