__pycache__/
_*.d.ts
_*.json
_build
.coverage
.doit*
.envs/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.vscode/
.yarn-packages/
*.egg-info
*.log
*.tgz
atest/output/
build/
dist/
docs/schema
envs/
lib/
node_modules/
src/**/labextension/
untitled*
Untitled*
