disable-self-update-check true
ignore-optional true
network-timeout "300000"
registry "https://registry.npmjs.org/"
yarn-ignore-optional true
yarn-offline-mirror "./.yarn-packages"
yarn-offline-mirror-pruning true
yarn-prefer-offline true
yarn-registry "https://registry.npmjs.org/"
