trigger:
  batch: true
  branches:
    include:
      - master
      - refs/tags/v*
      - 0.1.x

pr:
  - master
  - 0.1.x

variables:
  PYTHONUNBUFFERED: 1
  ATEST_RETRIES: 2

  PY_JLST_VERSION: 0.2.2a0
  JS_JLST_VERSION: 0.2.1-a0

  FIRST_PARTY_LABEXTENSIONS: >-
    packages/jupyterlab-starters/deathbeds-jupyterlab-starters-$(JS_JLST_VERSION).tgz

jobs:
  - template: ci/job.lint.yml
  - template: ci/job.test.yml
  - template: ci/job.combine.yml
