:root {
  --none-blacker: rgb(0, 0, 0);
  --deathbeds: #d374b3d5;
  --deadsheets: rgba(211, 116, 179, 0.125);
  --code-bg: rgb(39, 40, 34);
  --border-width: 1px;
  --border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 100;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  text-transform: none;
}

.rst-content blockquote {
  padding: 0.5em 0 0.5em 2em;
  margin-left: 0;
  font-size: 120%;
  font-style: italic;
  background: linear-gradient(to right, #eee 1em, #fff 0);
}

.rst-content blockquote div *:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 350%;
}

h2 {
  font-size: 200%;
}

p {
  max-width: 45em;
}

.wy-side-nav-search,
.wy-nav-top {
  background-color: var(--none-blacker);
}

.wy-side-nav-search input[type='text'] {
  border-radius: var(--border-radius);
}

a {
  color: var(--none-blacker);
  font-weight: bold;
}

iframe {
  height: 95vh;
  border: 0;
}

a {
  border-bottom: solid var(--border-width) transparent;
}

a:hover,
a:active {
  text-decoration: underline;
  color: var(--deathbeds);
}

.wy-side-nav-search a:hover,
.wy-side-nav-search a:active {
  color: var(--deathbeds);
  background-color: transparent;
}

div.nbinput div.prompt,
div.nboutput div.prompt {
  display: none;
}

.wy-nav-content {
  max-width: unset;
}

.rst-content .section .toctree-wrapper > ul {
  display: flex;
  flex-direction: row;
}

.rst-content .section .toctree-wrapper > ul > li {
  flex: 1;
}

.rst-content .section .toctree-wrapper ul,
.rst-content .section .toctree-wrapper li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rst-content .section .toctree-wrapper .toctree-l1 > a {
  font-size: 150%;
}

body div.nboutput.container div[class*='highlight'] {
  background: var(--code-bg);
}

.rst-content div[class^='highlight'] {
  border-radius: var(--border-radius);
}

body div.nboutput.container div[class*='highlight'] {
  margin-bottom: 1em;
}

body div.nboutput.container div[class*='highlight'] div[class*='highlight'] {
  margin: 0;
  padding: 0;
}

body div.nboutput.container div[class*='highlight'] pre {
  background-color: transparent;
  padding: 1em;
}

.section[id='Jupyter[Lab]-Starters'] .wy-table-responsive table td,
.section[id='Jupyter[Lab]-Starters'] .wy-table-responsive table th {
  white-space: unset;
  text-align: center;
}

.section[id='Jupyter[Lab]-Starters'] .wy-table-responsive table td img,
.section[id='Jupyter[Lab]-Starters'] .wy-table-responsive table th img {
  max-width: unset;
}

/* autodoc */
.rst-content dl:not(.docutils) dt {
  color: var(--deathbeds);
  border-top: solid 3px var(--deathbeds);
  background: var(--deadsheets);
}
